.header {
    background-color: #D93A50;
    position: relative;
    width: 100%;
    height: 70%;
    overflow: hidden;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logo{
    height: 500px;
    margin: auto;
    display: block;
}
