.header {
    background: linear-gradient(#DA394E, #BC3D6C);
    border-bottom: white;
}

svg {
    display: block;
    width: 100%;
    height: 90px;
    filter :invert(35%) sepia(16%) saturate(4851%) hue-rotate(301deg) brightness(86%) contrast(86%);;
  }

#logo{
    height: 300px;
    margin: auto;
    display: block;
}
